@charset "utf-8";

html {
	font-size: 16px;
	background-image:url(1972518.jpg);
	background-size:cover;
}

body {
	margin: 0;
	padding: 0;
}

/* .container centers all content, limits page-width to 48rem to prevent content overflow with variable resolutions */

.container {
	display: block;
	width: 48rem;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

header img {
	width:16rem;
}

header img:first-child {
	float:left;
}

header img:last-of-type {
	float: right;
}


/*Following navbar design adapted from http://css-snippets.com/simple-horizontal-navigation/ */

nav ul {
	list-style-type: none;
	text-align:center;
	padding: 0;
	margin: 0;
}

nav li {
	line-height: 1rem;
	height: 1rem;
	background-color:rgba(0,0,0,0.0);
}

nav a {
	text-decoration: none;
	display: block;
	color:rgba(255,255,255,1.00);
	transition: .3s background-color;
}

nav a:hover {
	background-color:rgba(40,191,255,1.00);
}
	
@media screen and (min-width: 768px) {
	nav li {
		display: inline-block;
		width: 9.6rem;
		border-bottom: none;
		height: 4rem;
		line-height: 4rem;
		margin: -0.2rem;
	}
}

#musicianImg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color:rgba(0,0,0,0.2);
	width: 47.35rem;
}

div#musicianImg {
	text-align: center;
}

#musicianImg img {
	width: 46rem;
	padding-top: 0.5rem;
}

.byLine {
	width: 19.5rem;
	height: 7.8rem;
	float: right;
	color:rgba(0,0,0,1.00);
	background-color: rgba(255,255,255,0.50);
	font-size: 0.8rem;
	text-align:center;
	margin-right: 0.3rem;
	padding-left: 0.41rem;
	padding-right: 0.41rem;
	transition: .3s ease;
}

.byLine:hover {
	background-color:  rgba(255,255,255,1.00);
	color:rgba(0,0,0,1.00);
}

.externalMusicianInfo a {
	text-decoration: none;
	display:block;
	color:rgba(0,0,0,1.00);
	height: 2rem;
	line-height:2rem;
	transition: .3s ease;
	font-size: 1.3rem;
}

.externalMusicianInfo a:hover {
	background-color:rgba(40,191,255,1.00);
}

.aboutMusician {
	color:rgba(255,255,255,1.00);
}

.aboutMusician p:first-child {
	margin-top: 0rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-bottom: 0.05rem;
	margin-left: 0.3rem;
	width: 26rem;
	float: left;
	background-color:rgba(0,0,0,0.2);
}

.aboutMusician p:nth-child(2) {
	margin-top: -1rem;
	padding-top: 1rem;
	width: 46rem;
	float: right;
	background-color: rgba(0,0,0,0.2);
	padding-right: 0.6rem;
	padding-left: 0.8rem;
	margin-right:0.3rem;
}

footer {
	background-color:rgba(0,0,0,0.20);
	height: 14.2rem;
	width: 47.05rem;
	margin-top: 19rem;
	margin-left: 0.3rem;
	padding-left: 0.175rem;
	padding-right: 0.175rem;
	padding-top: -0.8rem;
	font-size: 0.9rem;
}

footer a {
	text-decoration: none;
	display:block;
	color: rgba(255,255,255,1.00);
	transition: .3s ease;
}

footer a:hover {
	box-shadow: inset 0 0 0 0.25rem rgba(40,191,255,1.00);
}

footer ul {
	list-style-type: none;
	text-align: center;
	margin: 0;
	height: 4rem;
	margin-top: 1rem;
}

footer li {
	display: inline-block;
	height: 3rem;
	width: 14rem;
	line-height:3rem;
	color:rgba(255,255,255,1.00);
	margin-left: 3rem;
	margin-right: 3rem;
	border-top: 0.2rem rgba(0,0,0,1.00) solid;
}

footer p {
	text-align: center;
	margin-top: 8rem;
	background-color:rgba(255,255,255,1.00);
}

footer img {
	display:block;
	width:8rem;
	height: 6rem;
	background-color:rgba(255,255,255,1.00);
	margin-left: 3rem;
	
}