@charset "utf-8";

html {;
	font-size: 16px;
	background-image:url("images/backgroundImage.jpg");
	background-size:cover;
}

.container {
	background-color: rgba(20,20,20,0.70);
	width: 48rem;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

/* ----- NAVIGATION BAR ----- */

.menuBar {
	height: 6rem;
    margin-bottom: 0.5rem;
}

nav ul {
	-webkit-padding-start: 0;
    height: 5rem;
	border-top: 2px solid rgba(40,191,255,1.00);
	border-bottom: 2px solid rgba(40,191,255,1.00);

}

nav li {
    display: block;
	text-align: center;
	list-style-type: none;
    display: inline-block;
    line-height: 5rem;
	width: 4.6rem;
}

nav a {
	text-decoration: none;
	display: block;
	color:rgba(255,255,255,1.00);
	transition: .3s background-color;
}

nav a:hover {
	background-color: rgba(40,191,255,1.00);
}

#headerLogo1 {
	float: left;
	width: 9rem;
	height: 6rem;
}

#headerLogo2 {
	float: right;
	width: 9rem;
	height: 6rem;
}

.current a {
    background-color: rgba(40,191,255,1.00);
}

/* ----- ARTIST DETAILS ----- */

.musicianImg {
	display: block;
	margin: 0.5rem;
    width: 47rem;
}

.musicianPage p {
    color: white;
    margin: 0.5rem;
}

.musicianPage p:nth-child(3) {
    text-align: center;
    margin-bottom: 1rem;
}

/* ----- BYLINE ----- */

.byLine {
	padding-top: 1rem;
	width: 19.5rem;
	height: 7rem;
	float: right;
	color:rgba(0,0,0,1.00);
	background-color: rgba(255,255,255,0.50);
	font-size: 0.8rem;
	text-align:center;
	margin-right: 0.4rem;
    margin-top: 1rem;
	padding-left: 0.41rem;
	padding-right: 0.41rem;
	transition: .3s ease;
}

.byLine:hover {
	background-color: rgba(255,255,255,1.0);
}

.byLine a {
	text-decoration: none;
	display:block;
	color:rgba(0,0,0,1.00);
	height: 2rem;
	line-height:2rem;
	transition: .3s ease;
	font-size: 1.3rem;
}

.byLine a:hover {
	background-color: rgba(40,191,255,1.00);
}

.byLineLink {
	margin-top: 1.5rem;
}

/* ----- TEXT ----- */

.content {
	color:rgba(255,255,255,1.00);
}

.content p {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.paragraphHeader {
    font-size: 1.5rem;
    color: rgba(40,191,255,1.00);
}

.firstParagraph {
	padding-left: 0.5rem;
    padding-right: 0.5rem;
	width: 47rem;
	float: left;
}

.secondParagraph {
	width: 47rem;
	float: left;
	padding-left: 0.5rem;
	margin-bottom: 0.5rem;
    padding-right: 0.5rem;

}

.sectionHeader {
    text-align: center;
    width: 48rem;
    clear: both;
    border-top: 2px solid rgba(40,191,255,1.00);
	border-bottom: 2px solid rgba(40,191,255,1.00);
    color: white;
    line-height: 0.5rem; 
    margin-bottom: 0.5rem;
}

.sectionHeader a {
    text-decoration: none;
    color: white;
}

.sectionHeader img {
    padding: 0;
    height: 1rem;
    margin-left: 0.5rem;
}

/* ----- HISTORY ENTRIES ----- */

.historyEntry {
    clear: both;
    width: 48rem;
}

.historyEntry h2 {
    text-align: center;
    float: left;
    color: rgba(40,191,255,1.00);
    width: 6rem;
}

.historyEntry p {
    float: right;
    width: 40.5rem;
    margin-right: 0.5rem;
}

.historyEntryFooter {
    text-align: center;
    clear: both;
    width: 47rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}

/* ----- EVENTS + BULLETINS ----- */

.bulletinEntryLeft {
    width: 21.5rem;
    margin-left: 0.9rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px groove grey;
    float: left;
    clear: left;
}

.bulletinEntryRight {
    width: 21.5rem;
    margin-right: 0.9rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px groove grey;
    float: right;
    clear: right;
}

.bulletinEntryLeft h2 {
    color: rgba(40,191,255,1.00);
}

.bulletinEntryRight h2 {
    color: rgba(40,191,255,1.00);
}

.eventEntry {
    width: 46rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px groove grey;
    display: inline-block;
}

.eventEntry p:nth-child(1) {
    float: left;
    width: 8.6rem;
    height: 0.5rem;
    margin-top: 1.2rem;
    margin-bottom: 2.5rem;
    margin-left: 1rem;
}

.eventWithImage {
    width: 37rem;
    margin-left: 9rem;
}

.eventWithoutImage {
    width: 46rem;
    text-align: center;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.eventWithLink {
    text-align: center;
    color: rgba(40,191,255,1.00);
}

.eventWithoutLink {
    text-align: center;
    color: rgba(40,191,255,1.00);
    margin-right: 9.6rem;
}

.eventEntry img {
    width: 8rem;
    float: left;
    margin-right: 1rem;
    clear: left;
    display: block;
    margin-bottom: 0.5rem;
}

.eventLink {
    width: 8.2rem;
    height: 1.3rem;
    margin-top: 1.1rem;
    padding-left: 1.4rem;
    padding-top: 0.2rem;
    float: right;
    display: inline-block;
    text-decoration: none;
    color: white;
}

.eventLink img {
    display: block;
    width: 1.2rem; 
    float: right;
}

.eventLink:hover {
    background-color: rgba(255,255,255,0.5);
}

/* ----- MUSICIANS ----- */

.musicianEntry {
    width: 14rem;
    height: 25rem;
    float: left;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    padding: 0.5rem;
    border: 1px groove grey;
}

.musicianEntry:hover {
    background-color: rgba(50,50,50,0.5);
}

.musicianEntry h2 {
    text-align: center;
    color: rgba(40,191,255,1.0);
}

.musicianEntry img {
    width: 14rem;
}

.musicianLink {
    text-decoration: none;
    color: white;
}

/* ----- ADMIN ----- */

textarea {
    width: 250px;
    height: 15px;
    background-color: lightgrey;
}

label {
    margin-left: 10px;
    font-size: 18px;
}


.content h3, h4 {
    text-align: center;
}

.paypalButton {
    margin-left: 10px;
}

.blueLink {
    color: rgba(40,191,255,1.00);
}

.adminTable textarea, label {
    text-align: left;
}

.adminTables {
     height: 11rem;
     text-align: center;
     margin-bottom: 1rem;
     margin-top: 1rem;
     border-bottom: 1px groove grey;
 }

.descriptionBox {
    width: 32rem;
    height: 5rem;
}

.footerBox {
    width: 27rem;
    height: 2rem;
}

.userTable {
    height: 5rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-bottom: 1px groove grey;
}
/* ----- FOOTER ----- */

.footer a {
	text-decoration: none;
	display:block;
	color: rgba(255,255,255,1.00);
	transition: .3s ease;
}

.footer a:hover {
	background-color: rgba(40,191,255,1.00);
}

.footer ul {
	-webkit-padding-start: 0;
	border-top: 2px solid rgba(40,191,255,1.00);
	border-bottom: 2px solid rgba(40,191,255,1.00);
	clear: both;
	text-align: center;
}

.footer li {
	width: 10rem;
	display: inline-block;
	list-style-type: none;
	line-height: 3rem;
	color: rgba(255, 255, 255, 1.00);
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

.footer p {
	width: 48rem;
	text-align: center;
	color: rgba(255,255,255,1.00);
	padding-bottom: 0.8rem;
}